<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
<!--        <property name="hibernate.connection.url">jdbc:postgresql://103.167.89.162:5432/mmo</property>-->
        <property name="hibernate.connection.url">${DB_URL}</property>

        <property name="hibernate.connection.username">${DB_USER}</property>
        <property name="hibernate.connection.password">${DB_PASSWORD}</property>
        <property name="hibernate.transaction.jta.platform">org.hibernate.service.jta.platform.internal.NoJtaPlatform</property>


        <!--        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>-->

        <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
        <property name="hibernate.globally_quoted_identifiers">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
    </session-factory>
</hibernate-configuration>
